<?xml version="1.0" encoding="utf-8"?>
<plugin 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-live-person-message"
	version="1.0.0">

	<name>Live Person Messaging</name>

	<asset src="www/LPMessagingSDK.js" target="js/LPMessagingSDK.js"/>

	<js-module src="www/LPMessagingSDK.js" name="lpMessagingSDK">
		<clobbers target="cordova.plugins.lpMessagingSDK" />
	</js-module>

	<!-- Android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="LPMessagingSDKPlugin" >
				<param name="android-package" value="com.liveperson.plugin.LPMessagingSDKPlugin"/>
			</feature>
		</config-file>

		<!--  AndroidManifest Changes - Permissions-->
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="ChatActivity" android:name="com.liveperson.plugin.ChatActivity" android:theme="@style/ThemeSwipeBack"></activity>
			<service android:name="com.liveperson.plugin.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
			</service>

			<service android:exported="false" android:name="com.liveperson.plugin.MyFirebaseInstanceIDService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
				</intent-filter>
			</service>

			<service
				android:name="com.liveperson.plugin.FirebaseRegistrationIntentService"
				android:exported="false"></service>

			<receiver android:exported="false" android:name="com.liveperson.plugin.NotificationUI$BadgeBroadcastReceiver">
				<intent-filter>
					<action android:name="ACTION_LP_UPDATE_NUM_UNREAD_MESSAGES_ACTION" />
				</intent-filter>
			</receiver>
        </config-file>

		<resource-file src="src/android/google-services.json" target="."/>
		
        <!-- LivePerson Android SDK -->
		<preference name="FCM_VERSION" default="17.5.+"/>
        <framework src="com.liveperson.android:lp_messaging_sdk:4.6.+" />
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<framework src="com.google.gms:google-services:4.3.3" />
		<framework src="com.google.firebase:firebase-analytics:16.5.0" />
		<framework src="com.google.firebase:firebase-messaging:17.5.0" />
		<framework src="com.google.firebase:firebase-config:17.0.0" />
		<framework src="com.google.firebase:firebase-perf:17.0.2" />
		<framework src="com.google.firebase:firebase-dynamic-links:17.0.0" />
		<framework src="com.google.firebase:firebase-iid:17.5.0" />
		

        <!--  Plugin Code -->
        <source-file src="src/android/LPMessagingSDKPlugin.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/ChatActivity.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/SwipeBackLayout.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/DialogHelper.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/LivepersonIntentHandler.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/MyDialogBuilder.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/FCMUtils.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/FirebaseRegistrationIntentService.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/MyFirebaseMessagingService.java" target-dir="src/com/liveperson/plugin/" />
		<source-file src="src/android/NotificationUI.java" target-dir="src/com/liveperson/plugin/" />

        <resource-file src="src/android/res/values/branding.xml" target="res/values/branding.xml"/>
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml"/>
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml"/>
		<resource-file src="src/android/res/values/string.xml" target="res/values/string.xml"/>
		<resource-file src="src/android/res/layout/activity_custom.xml" target="res/layout/activity_custom.xml"/>
		<resource-file src="src/android/res/layout/custom_alert_dialog.xml" target="res/layout/custom_alert_dialog.xml"/>
		<resource-file src="src/android/res/layout/layout_progress_loading.xml" target="res/layout/layout_progress_loading.xml"/>
		<resource-file src="src/android/res/menu/menu_chat.xml" target="res/menu/menu_chat.xml"/>

		<resource-file src="src/android/res/color/ic_menu_tint_color.xml" target="res/color/ic_menu_tint_color.xml"/>
		
		<resource-file src="src/android/res/drawable/ic_arrow_left.xml" target="res/drawable/ic_arrow_left.xml"/>
        <resource-file src="src/android/res/drawable/ic_baseline_close.xml" target="res/drawable/ic_baseline_close.xml"/>
		<resource-file src="src/android/res/drawable/alert_dialog_shape.xml" target="res/drawable/alert_dialog_shape.xml"/>
		<resource-file src="src/android/res/drawable/dialog_negative.xml" target="res/drawable/dialog_negative.xml"/>
		<resource-file src="src/android/res/drawable/dialog_positive.xml" target="res/drawable/dialog_positive.xml"/>
		<resource-file src="src/android/res/drawable/loading.xml" target="res/drawable/loading.xml"/>
		<resource-file src="src/android/res/drawable-v24/loading.xml" target="res/drawable-v24/loading.xml"/>

		<resource-file src="src/android/res/drawable/ic_progress_dialog_1.png" target="res/drawable/ic_progress_dialog_1.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_2.png" target="res/drawable/ic_progress_dialog_2.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_3.png" target="res/drawable/ic_progress_dialog_3.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_4.png" target="res/drawable/ic_progress_dialog_4.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_5.png" target="res/drawable/ic_progress_dialog_5.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_6.png" target="res/drawable/ic_progress_dialog_6.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_7.png" target="res/drawable/ic_progress_dialog_7.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_8.png" target="res/drawable/ic_progress_dialog_8.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_9.png" target="res/drawable/ic_progress_dialog_9.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_10.png" target="res/drawable/ic_progress_dialog_10.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_11.png" target="res/drawable/ic_progress_dialog_11.png"/>
		<resource-file src="src/android/res/drawable/ic_progress_dialog_12.png" target="res/drawable/ic_progress_dialog_12.png"/>

		<icon src="src/android/res/mipmap/ic_launcher.png" target="res/mipmap/ic_launcher.png"/>
		

	</platform>

	<!-- iOS -->
	<platform name="ios">

		<hook type="after_platform_add" src="scripts/iosAfterPluginAdd.js" />
		<hook type="before_plugin_install" src="scripts/pods_fix.js"/>
		
		<config-file target="config.xml" parent="/*">
			<feature name="LPMessagingSDKPlugin" >
				<param name="ios-package" value="LPMessagingSDKPlugin"/>
			</feature>
		</config-file>
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      		<string>Camera Privacy Setting for LiveEngage Mobile App Messaging SDK for iOS</string>
    	</config-file>
		<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      		<string>A message that tells the user why the app is requesting access to the user's photo library.</string>
    	</config-file>
		<config-file target="*-Info.plist" parent="UIUserInterfaceStyle">
      		<string>Light</string>
    	</config-file>
		
		 <resource-file src="src/ios/Main.storyboard"/>
		
		<framework src="LPMessagingSDK" type="podspec" spec="~> 6.3.0.769"/>

		<source-file src="src/ios/UIColor+LP.swift" />
		<source-file src="src/ios/ConversationVC.swift" />
		<source-file src="src/ios/LPMessagingSDKPlugin.swift" />
		<source-file src="src/ios/LPMessagingSDKPlugin-Bridging-Header.h" />

		<!-- Add in the swift-support plugin by default -->
		<dependency url="https://github.com/agoncalvesos/cordova-plugin-add-swift-support" commit="513e43f94ae94ad609d49f24e7dca23a4c358095" id="cordova-plugin-add-swift-support"/>

	</platform>

</plugin>
